.App {
  display: flex;
  flex-direction: column;
}
.App .heading {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.icon {
  height: 30px;
  width: 40px;
  margin-left: 20px;
}

.converter {
  display: flex;
  flex-direction: column;
}
.converter__result {
  display: flex;
  margin-top: 40px;
}

.converter__input {
  display: flex;
  margin-top: 80px;
}
.input-type {
  margin-left: 20px;
}

.result-value {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
